/*font Variables*/
$primary-font: 'Poppins', sans-serif;

/*Color Variables*/
$primary-color: #1d677a;
$primary-color2: #1d677a;
$primary-color3: #2d899f;
$title-color: #222222;
$text-color: #1d677a;
$white: #ffffff;
$black: #000000;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600');
